@using LoginProject.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoginProject</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginProject.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="page-grid">
        <header class="header">
            <nav class="navbar">
                <a class="navbar__brand" asp-area="" asp-page="/Index">Twitnet</a>
                <div class="navbar__hamburger" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar__hamburger-line"></span>
                    <span class="navbar__hamburger-line"></span>
                    <span class="navbar__hamburger-line"></span>
                </div>
                <menu class="navbar__menu">
                    <ul class="navbar__items">
                        <li class="navbar__item">
                            <a class="navbar__link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User)) {
                            <li class="navbar__item">
                                <a class="navbar__link" asp-area="" asp-page="/Users/User" asp-route-username="@User.Identity!.Name">@User.Identity!.Name</a>
                            </li>
                        }
                        <li class="navbar__item">
                            <a class="navbar__link" asp-area="" asp-page="/Users/Search">Users</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </menu>
            </nav>
        </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LoginProject - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>