@using LoginProject.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar__items">
@if (SignInManager.IsSignedIn(User))
{
    <li class="navbar__item">
        <a class="navbar__link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
    </li>
    <li class="navbar__item">
        <form class="form form--inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button type="submit" class="navbar__link navbar__btn">Logout</button>
        </form>
    </li>
    @if (User.IsInRole("admin")) {
        <li class="navbar__item">
            <p class="title">Manage</p>
            <ul class="navbar__items">
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="Admin" asp-page="/Index">Users</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="Admin" asp-page="/Posts/Index">Posts</a>
                </li>
            </ul>
        </li>
    }
}
else
{
    <li class="navbar__item">
        <a class="navbar__link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="navbar__item">
        <a class="navbar__link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
