.margin-left {
    margin-left: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}

.flex--spacebetween {
    justify-content: space-between;
}

.btn {
    color: hsl(var(--text));
    padding: .5em 2em;
    border-radius: 1em;
    text-decoration: none;
    font-size: 1rem;
    background-color: hsl(var(--post-bg));
    display: inline-block;
    border: 1px solid hsl(var(--post-stroke));
    transition: background-color ease-in-out .05s;
    width: max-content;
    cursor: pointer;
    margin-bottom: .5em;
}

.btn:hover {
    background-color: hsl(var(--post-hover));
    color: hsl(var(--text));
}

.text--error {
    font-size: 0.8rem;
    color: hsl(var(--text-dimmed));
}

span.text--error {
    display: block;
}

hr {
    margin: .5em 0;
}

.blur {
    position: relative;
}

.blur .blur__hidden {
    filter: blur(.2em);
}

.blur__info {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    inset: 0;
}

.blur .blur__info {
    display: flex;
}

span.username {
    display: inline-block;
    max-width: 32ch;
}

.username {
    max-width: 32ch;
}

.username-wrapper {
    display: flex;
    white-space: nowrap;
}

.username,
.post__username {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}