:root {
    --navbar-height: 2em;
}

.header {
    max-width: max-content;
    justify-self: flex-end;
    position: sticky;
    grid-column: 1;
    top: 0;
    height: 100vh;
}

.navbar {
    padding: var(--navbar-height);
    height: calc(100% - var(--navbar-height) * 2);
}

.navbar__brand {
    font-weight: bold;
}

.navbar__brand,
.navbar__link {
    color: hsl(var(--text));
    padding: .5em 2em;
    border-radius: 1em;
    text-decoration: none;
    font-size: 1rem;
    background-color: hsl(var(--post-bg));
    display: inline-block;
    border: 1px solid hsl(var(--post-stroke));
    transition: background-color ease-in-out .05s;
    width: max-content;
    cursor: pointer;
}
.navbar__brand:hover,
.navbar__link:hover {
    background-color: hsl(var(--post-hover));
}

.navbar__brand,
.navbar__item {
    list-style: none;
}

.navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 1em);
}

.navbar,
.navbar__items {
    display: flex;
    flex-direction: column;
    gap: .5em;

}

.navbar__btn {
    cursor: pointer;
}

.navbar__hamburger {
    height: 3em;
    width: 3em;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border-radius: .5em;
    gap: 4px;
}

.navbar__hamburger--visible .navbar__hamburger-line:nth-child(1) {
    transform: translateY(10px) rotateZ(135deg);
}

.navbar__hamburger--visible .navbar__hamburger-line:nth-child(2) {
    transform: translate(5em);
}

.navbar__hamburger--visible .navbar__hamburger-line:nth-child(3) {
    transform: translateY(-10px) rotateZ(-135deg);
}

.navbar__hamburger-line {
    height: 6px;
    width: 2.5em;
    display: block;
    background-color: hsl(var(--text));
    border-radius: 1em;
    transition: transform ease-in-out .2s;
}

@media (max-width: 768px) {
    :root {
        --navbar-height: 5em;
    }
    .header {
        height: max-content;
        z-index: 100;
    }

    .navbar {
        border-bottom: 1px solid hsl(var(--post-stroke));
        width: calc(100vw - (5em + 1px));
        background-color: hsl(var(--bg));
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em;
        overflow: hidden;
    }

    .navbar__menu {
        transform: translateX(-100vw);
        transition: transform cubic-bezier(1, .2, .75, .25) .2s;
        flex-direction: row;
        position: absolute;
        right: 0;
        width: calc(100% - 2em);
        top: var(--navbar-height);
        background-color: hsl(var(--bg));
        flex-direction: column;
        height: max-content;
        padding: 1em;
        max-width: 20em;
        border-radius: 0 0 0 2em;
        z-index: 0;
    }

    .navbar__link {
        width: 100%;
        box-sizing: border-box;
    }

    .navbar form {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .navbar__btn {
        width: max-content;
    }

    .navbar__item {
        flex-direction: column;
    }

    .navbar__menu--visible {
        transform: translateX(0);
        transition: transform cubic-bezier(.25, .75, .2, 1) .2s;
    }

    .navbar__item,
    .navbar__hamburger {
        display: flex;
    }
}