@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="title">@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter a username and an email address for this site below and click the Register button to finish
    logging in.
</p>


<form class="section" asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="text--error" role="alert"></div>
    <div>
        <input asp-for="Input.UserName" autocomplete="username" placeholder="Please enter your username." />
        <label asp-for="Input.UserName"></label>
        <span asp-validation-for="Input.UserName" class="text--error"></span>
    </div>
    <div>
        <input asp-for="Input.Email" autocomplete="email" placeholder="Please enter your email."/>
        <label asp-for="Input.Email"></label>
        <span asp-validation-for="Input.Email" class="text--error"></span>
    </div>
    <button type="submit" class="btn">Register</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
