@page
@model LoginProject.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FullName" class="control-label"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Input.Id" />
            <div class="form-group">
                <label asp-for="Input.UserName" class="control-label"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.EmailConfirmed" /> @Html.DisplayNameFor(model => model.Input.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="Input.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="Input.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="control-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.Input.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.Input.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Input.LockoutEnd" class="control-label"></label>
                <input asp-for="Input.LockoutEnd" class="form-control" />
                <span asp-validation-for="Input.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.LockoutEnabled" /> @Html.DisplayNameFor(model => model.Input.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Input.AccessFailedCount" class="control-label"></label>
                <input asp-for="Input.AccessFailedCount" class="form-control" />
                <span asp-validation-for="Input.AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
